html {
  font-family: sans-serif;
  font-size: 62.5%; 
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%; 
}

body {
  font-size: 1.6em; 
  line-height: 1.3;
  font-weight: 300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
  color: #444444;
  margin: 0px;
  background-color: lavenderblush;
  padding-top: 0px;
}

.bk, .bk-root {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input {
  accent-color: black;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  font-weight: 200;
  margin-bottom: 2rem;
}

h1 { 
  font-size: 3.6rem;
  letter-spacing: -.08rem;
}
h2 {
  font-size: 3.0rem;
  letter-spacing: -.05rem;
}
h3 {
  font-size: 2.4rem;
  letter-spacing: -.02rem;
}
h4 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0px;
}
h5 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0px;
}
h6 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0px;
}

p {
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

img {
  display: flex;
  height: auto;
  margin-left: 5px;
}

select {
  text-transform: none;
  color: inherit; 
  font: inherit; 
  font-size: 1.4rem;
  margin: 0; 
}

select {
  height: 31px;
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; 
}

select, .bk-root select:not([multiple]).bk-input {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M 0,6 12,18 24,6" fill="none" stroke="%23444444" stroke-width="4" stroke-linejoin="round"/></svg>');
  background-position: right 0.5em center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.top-container {
  max-width: 1000px;
  margin: auto;
  height: 60px;
}

.header {
  position: fixed;
  top: 0;
  z-index: 99;
  height: 50px;
  width: 100%;
  max-width: inherit;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  height: inherit;
  align-items: center;
  background-color: #444;
  margin-left: 20px;
  margin-right: 20px;
}

.header-right {
  margin-right: 10px;
  margin-left: auto;
}

.header-left {
  margin-left: 10px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0px;
  margin-bottom: 0px;
  font-size: 1.4rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.column1 {
  background-color: white;
  flex: 0 0 600px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.column2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 280px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.column-wide {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.columns-2 {
  column-count: 2;
}

.bk-div-text {
  font-size: 1.4rem;
}

.list {
  margin-top: 2px;
  padding-left: 25px;
  width: 100%;
}

.sub-title {
  font-size: 1.4rem;
  padding-top: 0px;
  height: 20px;
}

.reference {
  font-size: 8px;
  padding-left: 10px;
  margin-top: 5px;
}

.push-right {
  margin-left: auto;
}

.push-left {
  margin-right: auto;
}

.rotate-text {
  transform: rotate(270deg);
  margin-left: auto;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 1.4rem;
}

.heading-bar-result-left {
  flex: 8;
  display: flex;
  justify-content: center;
}

.heading-bar-result-right {
  flex: 5;
  display: flex;
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

.bk-root .bk-input-group input[type="checkbox"] + span,
.bk-root .bk-input-group input[type="radio"] + span {
  top: 0px;
}

.bk-root .bk-input:focus {
 border-color: #44444480;
 outline:0;
 box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
}

.bk .bk-input,
.bk .bk-input-group {
  font-size: 1.4rem;
}
