body, p, div, span, .bk-root, .bk {
  font-family: "system-ui", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  color: #444444;
}

body {
  background-color: lavenderblush;
  margin-top: 10px;
  padding-top: 0px;
}

input {
  accent-color: black;
}

h2, h3, h4, p {
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

h4 {
  margin-bottom: 0px;
  font-weight: 500;
}

img {
  display: flex;
  height: auto;
  margin-left: 5px;
}

#container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column1 {
  background-color: white;
  flex: 0 0 600px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.column2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 280px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.column-wide {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.columns-2 {
  column-count: 2;
}

.div-text {
  font-size: 0.875rem;
}

.list {
  margin-top: 2px;
  padding-left: 25px;
}

.title-container {
  height: 45px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
}

.sub-title {
  font-size: 0.875rem;
  font-weight: 300;
  padding-top: 0px;
  height: 20px;
}

.reference {
  font-size: 8px;
  padding-left: 10px;
  margin-top: 5px;
}

.push-down {
  margin-top: auto;
}

.push-right {
  margin-left: auto;
}

.push-left {
  margin-right: auto;
}

.rotate-text {
  transform: rotate(270deg);
  margin-left: auto;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 0.875rem;
}

footer {
  background-color: white;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

footer p {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.bk-root .bk-input-group input[type="checkbox"] + span,
.bk-root .bk-input-group input[type="radio"] + span {
  top: 0px;
}

.bk-root .bk-input:focus {
 border-color:#44444480;
 outline:0;
 box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
}

.bk .bk-input,
.bk .bk-input-group {
  font-size: 0.875rem;
}
